chardet==5.1.0
clevercsv==0.8.0
dnspython==2.3.0
ijson==3.2.*
numpy==1.25.0
packaging==23.1
pandas==2.0.2
psutil==5.9.*
pymongo==4.3.3
python-dateutil==2.8.2
pytz==2023.3
regex==2023.6.3
six==1.16.0
tzdata==2023.3
watchdog==3.0.0
